<% if @current_user_is_owner %>
<section>
  <h3>Observations</h3>
  <% @observations.each do |observation| %>
    <%= render partial: "observations/show", locals: {observation: observation} %>
  <% end %>
  <table class="student_data">
    <%= render partial: "memberships/data_table", locals: {group: @group, users: [@user], datum: :observations} %>
  </table>
  <h4>New observation</h4>
  <%= render partial: "observations/form", locals: {group: @group, membership: @membership} %>
</section>
<% end %>

<section>
  <h3>Attendance</h3>
  <p>Tardy: <%= @attendances.select{|a| a.status === 1}.count %>, Absent: <%= @attendances.select{|a| a.status === 0}.count %></p>
  <table>
    <tr>
      <th>Group</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
    <% @attendances.each do |attendance| %>
    <tr>
      <td><%= link_to attendance.event.group.path, group_path(attendance.event.group) %></td>
      <td><%= link_to attendance.date, group_events_path(attendance.event) %></td>
      <td><%= attendance.status_english %></td>
    </tr>
    <% end %>
  </table>
  <table class="student_data">
    <%= render partial: "memberships/data_table", locals: {group: @group, users: [@user], datum: :attendances} %>
  </table>
</section>

<section>
  <h3>Assignments</h3>
  <table>
    <tr>
      <th>Assigned to</th>
      <th>Title</th>
      <th>Due</th>
      <th>Status</th>
    </tr>
    <% @submissions.each do |submission| %>
    <tr>
      <td><%= link_to submission.assignment.group.path, group_path(submission.assignment.group) %></td>
      <td><%= submission.assignment.title %></td>
      <td><%= submission.due_date %></td>
      <td style="background-color:<%= submission.status == 2 ? "#bfb" : "#faa" %>;"><%=  submission.status_english %></td>
    </tr>
    <% end %>
  </table>
  <table class="student_data">
    <%= render partial: "memberships/data_table", locals: {group: @group, users: [@user], datum: :submissions} %>
  </table>
</section>

<section>
  <h3>Project Feedback</h3>
</section>
