<div class="observation" style="background-color:<%= color_of(observation.status) %>">
  <% puts "#{observation.status}" * 50 %>
  <p><%= observation.body %></p>
  <p><small><%= link_to observation.author.user.username, profile_path(observation.author.user) %>, <span title="<%= observation.created_at.strftime("%y") %>"><%= time_ago_in_words(observation.created_at) %> ago</span></small></p>
</div>
