<h2>All Assignments</h2>
<table class="tablesorter">
  <tr>
    <th>Title</th>
    <th>Group</th>
    <th>Percent Complete</th>
    <th>Type</th>
    <th>Repo Url</th>
    <th>Due Date</th>
  </tr>
  <% @assignments.each do |assignment| %>
  <tr>
    <td><%= link_to "#{assignment.title}", assignment_path(assignment) %></td>
    <td><%= link_to assignment.group.path, group_path(assignment.group) %></td>
    <td><%= percent_of(assignment.submissions, 2) %></td>
    <td><%= assignment.category %></td>
    <td><%= if assignment.repo_url then link_to repo_name(assignment.repo_url), assignment.repo_url end %></td>
    <td><%= assignment.due_date.strftime("%a, %m/%d/%y, %H:%M") %></td>
  </tr>
  <% end %>
</table>

<% if @group.owners.include?(current_user) %>
<%= form_for [@group, @assignment] do |f| %>
  <%= f.text_field :title, placeholder: "Title" %>
  <%= f.select :category, [["homework","homework"],["outcomes","outcomes"],["project","project"]] %>
  <%= f.text_field :repo_url, placeholder: "Repo Url"%>
  <%= f.date_field :due_date %>
  <%= f.submit %>
<% end %>
<% end %>
