<a href='#' class='toggle-grayscale js-toggle-grayscale'>&#9728;</a>

<header>
  <small>Logged in as <%= current_user.name %>
  | <%= link_to "Recent", "/recent" %>
  | <a href='<%= notifications_path %>' class='notification-link'>
      Notifications
  <span data-notifications-count="<%= @notifications_count %>" class='notification-count'><%= @notifications_count %></span>
    </a>
  | <%= link_to "Stats", "/stats" %>
  </small>
  <h1>
    <%= link_to "~/", root_path %>
    <% if @students %>
      <input type="text" class="js-filter">
    <% end %>
  </h1>
</header>
<div class='squads'>
  <a href='#/.Ada'>Ada</a>
  <a href='#/.Bash'>Bash</a>
  <a href='#/.C'>C</a>
  <a href='#/.Dart'>Dart</a>
  <a href='#/.Elixir'>Elixir</a>
  <a href='#/.Fortran'>Fortran</a>
</div>
<div class='student-list js-student-list'>
  <% @students.each do |student| %>
    <p style="background: student.color" class="<%= student.squad %> <%= student.category %>">
      <a href="/<%= student.github_id %>"><%= student.name %>
        <%= "Absences: #{student.absences}" %><%= "Tardies: #{student.tardies}" %><%= "Total: #{student.combined_absence}" %><%= "Percent: #{student.percent_complete}" %>
        <% if student.updated_at %>
  	      <small><%= time_ago_in_words(student.updated_at) %> ago</small>
        <% end %>
      </a>
      <% gh_img = student.color ? "GitHub-Mark-Light-32px" : "GitHub-Mark-32px" %>
      <%= link_to(image_tag(gh_img, alt: "GH Repos", title: "GH Repos"), student.github_repo_url) %>
    </p>
  <% end %>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
<%= javascript_include_tag 'application' %>
