<td style="background-color:<%= color_of(collection) %>">
  <%= collection.average(:status).to_f.round(2) %>
</td>
<td><%= collection.sum(:status) %></td>
<td><%= percent_of(collection, 2) %></td>
<td><%= collection.length %></td>
