<h2>Students</h2>
<% @student_memberships.each do |membership| %>
  <div style="background-color: <%= membership.color %>">
    <p><%= link_to membership.user.username, group_student_path( @group, membership ) %></p>
    <p>Combined Absences: <%= membership.get_attendance_summary[:combined_absences] %> days</p>
    <p>Homework Submissions: <%= membership.get_submission_summary[:percentage] %>%</p>
    <% if membership.last_observation %>
      <p><%= time_ago_in_words( membership.last_observation.updated_at ) + " ago." %></p>
    <% end %>
  </div>
<% end %>
