<%= form_tag action, method: method do |f| %>
<%= label_tag do %><span><%= "#{group.parent.path}_" if group.parent %></span><%= text_field_tag :title, "title", placeholder: "Group title", value: group.title %><% end %>
<%= submit_tag "Save group" %>
<% end %>
