<h2>Student Status</h2>

<h3>Attendance</h3>
<div>
  <p>Tardy: <%= @attendances.where(status: 1).length %></p>
  <p>Absent: <%= @attendances.where(status: 0).length %></p>
</div>
<div>
  <table>
    <tr>
      <th>id</th>
      <th>Group</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
    <% @attendances.each do |attendance| %>
    <tr>
      <td><%= attendance.id %></td>
      <td><%= attendance.event.group.title %></td>
      <td><%= attendance.date %></td>
      <td><%= attendance.status_english %></td>
    </tr>
    <% end %>
  </table>
</div>

<h3>Assignments</h3>
<div>
  <p>Incomplete: <%= @submissions.where("status <= ?", 1).length %></p>
</div>
<div>
  <table>
    <tr>
      <th>Assigned to</th>
      <th>Due</th>
      <th>Status</th>
      <th>Title</th>
    </tr>
    <% @submissions.each do |submission| %>
    <tr>
      <td><%= submission.assignment.group.title %></td>
      <td><%= submission.due_date %></td>
      <td><%= submission.status_english %></td>
      <td><%= submission.assignment.title %></td>
    </tr>
    <% end %>
  </table>
</div>
<h3>Project Feedback</h3>


<!-- attendance summary
membership_id: self.id,
tardys: tardys,
presents: presents,
absents: absents
    submission_summary

    membership_id: self.id,
    incompletes: incompletes,
    missings: missings,
    completes: completes
 -->
