<div class="intro">
  <%= avatar(@user) %>
  <h2 title="user#<%= @user.id %>"><%= @user.username %></h2>
</div>

<section>
  <h3>Profile</h3>
  <%= render partial: "form", locals: {action: "/profile", method: "patch", user: @user} %>
</section>

<section>
  <h3>Groups</h3>
  <% if @groups.count == 0 %>
  <p>None yet!</p>
  <% else %>
  <ul class="tree"><%= group_list(@groups) %></ul>
  <% end %>
</section>
