<h2><%= @event.date %></h2>
<div class="students">
  <% @attendances.each do |attendance| %>
    <div class="student">
      <h3><%= attendance.membership.user.username %></h3>
      <%= form_for [@group, @event, attendance] do |f| %>
        <%= f.label :status_present, "Present" %>
        <%= f.radio_button :status, "Present" %>
        <%= f.label :status_tardy, "Tardy" %>
        <%= f.radio_button :status, "Tardy" %>
        <%= f.label :status_absent, "Absent" %>
        <%= f.radio_button :status, "Absent" %>
        <%= f.submit :submit %>
      <% end %>
    </div>
  <% end %>
</div>
