<h2><%= @event.date %></h2>
<div class="students">
  <% @attendances.each do |attendance| %>
    <div class="student">
      <h3><%= attendance.membership.user.username %></h3>
      <%= form_for [@group, @event, attendance] do |f| %>
        <label>
	  Present
	  <%= f.radio_button :status, "Present" %>
	</label>
        <label>
	  Tardy
	  <%= f.radio_button :status, "Tardy" %>
	</label>
        <label>
	  Absent
	  <%= f.radio_button :status, "Absent" %>
	</label>
        <%= f.submit :submit %>
      <% end %>
    </div>
  <% end %>
</div>
