<!DOCTYPE html>
<html>
<head>
  <title>Garnet</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700|Merriweather:400,700,300' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><a href="/profile"><span>GA</span>RNET</a></h1>
    <nav>
      <% if current_user %>
      <a href="/profile"><%= current_user.username %></a>
      <a href="/sign_out">sign out</a>
      <% else %>
      <a href="/sign_up">Sign up</a>
      <a href="/sign_in">Sign in</a>
      <% end %>
    </nav>
  </header>
  <main>
    <% if flash.count > 0 %>
    <section class="errareHumanumEst">
    <% flash.each do |key, value| %>
      <p><%= value %></p>
    <% end %>
    </section>
    <% end %>
    <%= yield %>
  </main>
  <footer>
    <a class="fa fa-code-fork" href="https://github.com/ga-dc/garnet" target="_blank"> GitHub</a>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js" charset="utf-8">
  </script>
</body>
</html>
